.main {
  margin-top: 70px;
  .estates-viewer {
    .estate-viewer {
      margin-right: 2.7%;
      margin-top: 50px;
    }
  }
  .show-more-btn {
    margin-top: 30px;
    height: 50px;
    width: 149px;
  }
}
